{
    "{{&className}}": {
        "label": {
            "service": "Service",
            "method": "Method",
            "host": "Host",
            "header": "Header",
            "value": "Value",
            "isQuery": "isQuery"
        },
        "status": {
            "requesting": "requesting"
        },
        "parameters": {
            {{#methods}}
            "{{&methodName}}": "{{&methodName}}",
            {{#parameters}}
            "{{&camelCaseName}}": "{{&camelCaseName}}",
            {{/parameters}}
            {{/methods}}
            "optionalParameters": "Options"
        }
    }
}
