{
    "function": {
        "error": {
            "inputListener":"Cannot add listener to 'input' event within Function",
            "non-message-returned":"Function tried to send a message of type __type__"
        }
    }
}
