{{&projectName}}
================

Node-RED node for {{&nodeName}}

{{&description}}

Install
-------

To install the stable version use the `Menu - Manage palette - Install`
option and search for {{&projectName}}, or run the following
command in your Node-RED user directory, typically `~/.node-red`

    npm install {{&projectName}}

Usage
-----

### Methods

{{#methods}}
- {{&method}} {{&path}}

    {{#parameters}}
        {{&name}}
    {{/parameters}}

    {{&summary}}

{{/methods}}
