{{&projectName}}
=====================

Node-RED node for {{&nodeName}}

{{&description}}

Install
-------

Run the following command in your Node-RED user directory - typically `~/.node-red`

        npm install {{&projectName}}

Usage
-----

### Methods

{{#methods}}
- {{&methodName}}

    {{&summary}}

{{/methods}}

