<script type="text/javascript">
    RED.nodes.registerType('{{&nodeName}}',{
        category: '{{&category}}',
        color: '#9BE9E8',
        defaults: {
            interactiontype: {value: "property"},
            propname: {value: ""},
            proptype: {value: ""},
            actname: {value: ""},
            evname: {value: ""},
            name: {value: ""}
        },
        credentials: {
            token: {type: "password"},
            username: {type: "text"},
            password: {type: "password"}
        },
        inputs: 1,
        outputs: 1,
        icon: "{{&iconpath}}",
        label: function() {
            var label = "{{&ufName}}"
            if (this.interactiontype == "property") {
                label = label + "-" + this.propname;
            } else if (this.interactiontype == "action") {
                label = label + "-" + this.actname;
            } else if (this.interactiontype == "event") {
                label = label + "-" + this.evname;
            }
            return this.name || label;
        },
        labelStyle: function() {
            return this.name ? "node_label_italic" : "";
        },
        paletteLabel: function() {
            return "{{&ufName}}";
        },
        oneditprepare: function() {
            var rwo = {{&genproprwo}};
            $('#node-input-interactiontype').change(function() {
                var inttype = $("#node-input-interactiontype").val();
                $('.int-sel').hide();
                if (inttype == "property") {
                    $(".int-prop-sel").show();
                } else if (inttype == "action") {
                    $(".int-act-sel").show();
                } else {
                    $(".int-ev-sel").show();
                }
            });
            $('#node-input-propname').change(function() {
                $('#node-input-proptype').children().attr("disabled", "disabled");
                var propname = $("#node-input-propname").val();
                if (rwo[propname]) {
                    if (rwo[propname].readable) {
                        $('#node-input-proptype').children("[value='read']").removeAttr("disabled");
                    }
                    if (rwo[propname].writable) {
                        $('#node-input-proptype').children("[value='write']").removeAttr("disabled");
                    }
                    if (rwo[propname].observable) {
                        $('#node-input-proptype').children("[value='observe']").removeAttr("disabled");
                    }
                }
            });
            $('.cred-userpass').show();
            $('.cred-token').show();
        }
    });
</script>

<script type="text/x-red" data-template-name="{{&nodeName}}">
    <div class="form-row">
        <label for="node-input-interactiontype"><i class="fa fa-exchange"></i> Interaction</label>
        <select id="node-input-interactiontype">
            <option value="property" selected>Property</option>
            <option value="action">Action</option>
            <option value="event">Event</option>
        </select>
    </div>
    <div class="form-row int-sel int-prop-sel">
        <label for="node-input-propname"><i class="fa fa-bar-chart"></i> Name</label>
        <select id="node-input-propname">
            {{#properties}}
            <option value="{{name}}">{{label}}</option>
            {{/properties}}
        </select>
    </div>
    <div class="form-row int-sel int-act-sel">
        <label for="node-input-actname"><i class="fa fa-bolt"></i> Name</label>
        <select id="node-input-actname">
            {{#actions}}
            <option value="{{name}}">{{label}}</option>
            {{/actions}}
        </select>
    </div>
    <div class="form-row int-sel int-ev-sel">
        <label for="node-input-evname"><i class="fa fa-bell"></i> Name</label>
        <select id="node-input-evname">
            {{#events}}
            <option value="{{name}}">{{label}}</option>
            {{/events}}
        </select>
    </div>
    <div class="form-row int-sel int-prop-sel">
        <label for="node-input-proptype"><i class="fa fa-pencil"></i> Access</label>
        <select id="node-input-proptype">
            <option value="read" selected>Read</option>
            <option value="write">Write</option>
            <option value="observe">Observe</option>
        </select>
    </div>
    <div class="form-row cred-userpass hidden">
        <label for="node-input-username"><i class="fa fa-user"></i> Username</label>
        <input type="text" id="node-input-username">
        <label for="node-input-password"><i class="fa fa-key"></i> Password</label>
        <input type="password" id="node-input-password">
    </div>
    <div class="form-row cred-token hidden">
        <label for="node-input-token"><i class="fa fa-ticket"></i> Token</label>
        <input type="password" id="node-input-token">
    </div>
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Node name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/x-red" data-help-name="{{&nodeName}}">
{{id}}

<p>{{ufName}}</p>
{{description}}

<h2>Properties</h2>
<ul>
{{#properties}}
  <li>{{label}}</li>
{{/properties}}
</ul>

<h2>Actions</h2>
<ul>
{{#actions}}
  <li>{{label}}</li>
{{/actions}}
</ul>

<h2>Events</h2>
<ul>
{{#events}}
  <li>{{label}}</li>
{{/events}}
</ul>

<h2>Related Resources</h2>
<ul>
{{#links}}
  <li><a href="{{href}}" target="_blank">{{rel}}</a></li>
{{/links}}
</ul>

</script>
