{
    "name": "{{&projectName}}",
    "version": "{{&projectVersion}}",
    "description": "Node-RED node for {{&nodeName}}",
    "main": "node.js",
    "scripts": {
        "test": "mocha \"test/**/*_spec.js\""
    },
    "node-red": {
        "nodes": {
            "{{&nodeName}}": "node.js"
        }
    },
    "keywords": [
        {{#keywords}}
        "{{name}}"{{^last}}, {{/last}}
        {{/keywords}}
    ],
    "dependencies": {
        "https-proxy-agent": "5.0.0",
        "request": "2.88.2",
        "ws": "8.5.0",
        "url-template": "3.0.0",
        "ajv": "8.10.0",
        "coap": "1.0.3"
    },
    "devDependencies": {
        "node-red": "2.2.2",
        "node-red-node-test-helper": "0.2.7"
    },
    "license": "{{&licenseName}}",
    "wot": {
        {{#wotmeta}}
        "{{name}}": "{{value}}"{{^last}}, {{/last}}
        {{/wotmeta}}
    }
}
