{{projectName}}
=====================

Node-RED node for {{nodeName}}

{{description}}

Install
-------

Run the following command in your Node-RED user directory - typically `~/.node-red`

        npm install {{projectName}}

Interactions
------------

### Properties

{{#properties}}
- {{label}}: {{description}}
{{/properties}}

### Actions

{{#actions}}
- {{label}}: {{description}}
{{/actions}}


### Events

{{#events}}
- {{label}}: {{description}}
{{/events}}

