{
    "{{&className}}": {
        "label": {
            "service": "服务",
            "method": "方法",
            "host": "网络主机",
            "header": "字头段",
            "value": "值",
            "isQuery": "查询"
        },
        "status": {
            "requesting": "请求中"
        },
        "parameters": {
            {{#methods}}
            "{{&methodName}}": "{{&methodName}}",
            {{#parameters}}
            "{{&camelCaseName}}": "{{&camelCaseName}}",
            {{/parameters}}
            {{/methods}}
            "optionalParameters": "可选项"
        }
    }
}
