{
    "{{&className}}": {
        "label": {
            "service": "Service",
            "method": "Methode",
            "host": "Host",
            "header": "Header",
            "value": "Wert",
            "isQuery": "Suchanfrage"
        },
        "status": {
            "requesting": "Anfrage..."
        },
        "parameters": {
            {{#methods}}
            "{{&methodName}}": "{{&method}} {{&path}}",
            {{#parameters}}
            "{{&camelCaseName}}": "{{&name}}",
            {{/parameters}}
            {{/methods}}
            "optionalParameters": "Optionen"
        }
    }
}
