{
  "name": "{{&projectName}}",
  "version": "{{&projectVersion}}",
  "description": "Node-RED node for {{&nodeName}}",
  "keywords": [
    {{#keywords}}
    "{{name}}"{{^last}}, {{/last}}
    {{/keywords}}
  ],
  "engines": {
    "node": ">=12.0.0"
  },
  "node-red": {
    "version": ">=1.3.7",
    "nodes": {
      "{{&nodeName}}": "subflow.js"
    }
  },
  {{#encoding}}
  "dependencies": {
    "crypto-js": "4.1.1"
  },
  {{/encoding}}
  "license": "{{&licenseName}}"
}
