{{&projectName}}
=====================

{{&description}}

## Install

Run the following command in your Node-RED user directory - typically `~/.node-red`

        npm install {{&projectName}}

{{#nodeRead}}
## Information

{{&nodeRead}}
{{/nodeRead}}
