{
    "name": "{{&projectName}}",
    "version": "{{&projectVersion}}",
    "description": "Node-RED widget node for {{&nodeName}}",
    "main": "node.js",
    "node-red": {
        "nodes": {
            "{{&nodeName}}": "node.js"
        }
    },
    "keywords": [
        "node-red-nodegen", "node-red-dashboard"
    ]
}
